In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id1 = ''#insert google IDs for dataset
id2 = ''
id3 = ''
id4 = ''
id5 = ''
id6 = ''

institute = drive.CreateFile({'id':id1}) 
institute.GetContentFile('instit.csv')
df1 = pd.read_csv('instit.csv')  

author = drive.CreateFile({'id':id2}) 
author.GetContentFile('auth.csv') 
df2 = pd.read_csv('auth.csv')

concept = drive.CreateFile({'id':id3}) 
concept.GetContentFile('concept.csv') 
df3 = pd.read_csv('concept.csv')

similar = drive.CreateFile({'id':id4}) 
similar.GetContentFile('sim.csv') 
df4 = pd.read_csv('sim.csv')

cite = drive.CreateFile({'id':id5}) 
cite.GetContentFile('cite.csv') 
df5 = pd.read_csv('cite.csv')

topic = drive.CreateFile({'id':id6}) 
topic.GetContentFile('topic.csv') 
df6 = pd.read_csv('topic.csv')

In [ ]:
#print(df6.head(10))

#rearrange the columns and remove uneccaary ones

#combine and save as a single csv file save to google drive with the scores
print(df6.head())
del df6['~id']
df6.columns= ["relation", "subject", "object","score"]
for col in df6.columns: 
    print(col) 

columns_titles = ["subject", "relation", "object", "score"]
df6=df6.reindex(columns=columns_titles)

                                    ~id  ... score:Float
0  c5a84fb7-7e2b-49f2-b744-ed841595b5dc  ...      1.0000
1  7bbf3f41-d087-48ee-b5bd-9ef748a8f5db  ...      0.9540
2  a1ff3f90-cbcc-4ef6-a5fa-3fe28365ece2  ...      0.9927
3  109c624f-a48d-4eb1-bcae-e247c4f84646  ...      0.8872
4  6921f83a-050d-44f1-b5ad-ec5cdb8fb7c2  ...      0.6584

[5 rows x 5 columns]
relation
subject
object
score

In [ ]:
for col in df6.columns: 
    print(col) 

print(df6.head())

subject
relation
object
score
                                subject  ...   score
0  b2d29ec4-caa3-438a-897c-445f5b8c1314  ...  1.0000
1  01c20e5d-f3e2-42bf-bd58-bbac101316d0  ...  0.9540
2  d42ae2ea-559d-4832-895a-9c46bb00f3ba  ...  0.9927
3  d42ae2ea-559d-4832-895a-9c46bb00f3ba  ...  0.8872
4  d42ae2ea-559d-4832-895a-9c46bb00f3ba  ...  0.6584

[5 rows x 4 columns]

In [ ]:
frames = [df1, df2, df3, df4, df5, df6]

result = pd.concat(frames)
result.reset_index(inplace=True, drop=True)

In [ ]:
print(len(result))
print(result.loc[[0]])

2771525
                                subject  ... score
0  1d798c5d-dedf-405f-9246-eed1cf38ed6e  ...   NaN

[1 rows x 4 columns]

In [ ]:
from google.colab import drive
drive.mount('drive')

In [ ]:
#result.to_csv('dataset.csv', index=False)

!cp dataset.csv "drive/My Drive/Masters_Project"

In [ ]:
from google.colab import drive
drive.mount('drive')

In [ ]:
path = '/content/drive/My Drive/Masters_Project/dataset.csv'
df_bonus = pd.read_csv(path)
print(df_bonus.head(10))
for col in df_bonus.columns: 
    print(col)

                                subject  ... score
0  1d798c5d-dedf-405f-9246-eed1cf38ed6e  ...   NaN
1  1d304ff5-6f22-40e7-83c4-a40cc6b40af2  ...   NaN
2  dd4d756c-d58e-48ab-9e0a-4198f5b63f65  ...   NaN
3  ab05d4a7-c9f2-41cd-94fd-37630b7b159e  ...   NaN
4  e4a37fbb-637e-407b-8589-98a6b8b8603d  ...   NaN
5  c995e123-470e-42b7-aac2-5fbb87c472fb  ...   NaN
6  410510ba-a246-4cf2-a99a-ab588fdc9ade  ...   NaN
7  29601f36-cece-44f5-b381-6dd7de0a0e79  ...   NaN
8  2520933a-b976-4efd-89d6-46ed6a10e8f8  ...   NaN
9  1ea4551d-e9ac-489c-8ff7-2558c97de7a0  ...   NaN

[10 rows x 4 columns]
subject
relation
object
score

PART 2 - Data Wrangle of Node Files for extra edges

In [ ]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
import pandas as pd
node_id1 = '' #insert data google drive links

node_id2 = ''

node_id3 = ''
 
node_id4 = ''

node_id5 = '



topic_node = drive.CreateFile({'id':node_id1}) 
topic_node.GetContentFile('tp.csv')
d1 = pd.read_csv('tp.csv')  

paper_node = drive.CreateFile({'id':node_id2}) 
paper_node.GetContentFile('pp.csv') 
d2 = pd.read_csv('pp.csv')

author_node = drive.CreateFile({'id':node_id3}) 
author_node.GetContentFile('at.csv') 
d3 = pd.read_csv('at.csv')

instit_node = drive.CreateFile({'id':node_id4}) 
instit_node.GetContentFile('in.csv') 
d4 = pd.read_csv('in.csv')

concept_node = drive.CreateFile({'id':node_id5}) 
concept_node.GetContentFile('cp.csv') 
d5 = pd.read_csv('cp.csv')

In [ ]:
print(d4)
#del d4['institution:String']
#d4.columns= ["subject", "relation", "object"]
for col in d4.columns: 
    print(col) 
#d4 = d4[d4['new_col'].notna()]
#columns_titles = ["subject", "relation", "object", "score"]
#df6=df6.reindex(columns=columns_titles)
#d4['new_col'] = d4['institution:String'].fillna(d4['country:String'])

                                    subject  ...                                             object
0      184966b9-c04c-4df5-ae54-ffde72a56202  ...  Mawlana Bhashani Science and Technology Univer...
1      d7c2de28-c171-4cd6-86d1-1fe957ebabb9  ...                                  Khulna University
2      25d0debf-1456-47da-ad30-03fca5e53670  ...                                University of Dhaka
3      b657c9b8-8405-4d6a-b09b-bd04e6e52763  ...                                         Bangladesh
4      a7c0830f-8dd6-42c1-88e0-53d6d6344f48  ...  Rothman Orthopaedic Institute at Thomas Jeffer...
...                                     ...  ...                                                ...
29784  9c154cf9-d05b-4583-a6f8-1a06eab1c490  ...                                             France
29785  6509b153-42fb-444a-b1a6-75f6736f1ab3  ...                                             France
29835  eab13ee1-ba5e-41d7-8d38-f89d27f63e07  ...          Landwirtschaftskammer Nordrhein-Westfalen
29920  4aac3adb-80cd-4ab0-a775-3b64c372dd4b  ...                                              Italy
29921  05f7bfe6-5245-4093-88a3-2c8b7ae92354  ...                                              Italy

[27785 rows x 3 columns]
subject
relation
object

In [ ]:
frames_nodes = [d1, d2, d3, d4, d5]

result_node = pd.concat(frames_nodes)
result_node.reset_index(inplace=True, drop=True)

In [ ]:
result_node = result_node[result_node['object'].notna()]
print(len(result_node))
print(result_node.loc[[1000]])

396737
                                   subject  ...                                             object
1000  8b3fd9d1-8864-46ce-a5c4-6cd6327489af  ...  Effects of randomness on viral infection model...

[1 rows x 3 columns]

In [ ]:
from google.colab import drive
drive.mount('drive')

In [ ]:
#result_node.to_csv('dataset_entities.csv', index=False)

!cp dataset_entities.csv "drive/My Drive/Masters_Project"

In [ ]:
#Load the two datasets and join
relations_data = ''#insert google drive links

entities_data = ''



data1 = drive.CreateFile({'id':relations_data}) 
data1.GetContentFile('relation_dat.csv')
df_rel = pd.read_csv('relation_dat.csv')  

data2 = drive.CreateFile({'id':entities_data}) 
data2.GetContentFile('entity_dat.csv') 
df_ent = pd.read_csv('entity_dat.csv')

In [ ]:
print(df_rel.head())
print(df_ent.head())

data = [df_rel, df_ent]
full_data = pd.concat(data)
full_data.reset_index(inplace=True, drop=True)

                                subject  ... score
0  1d798c5d-dedf-405f-9246-eed1cf38ed6e  ...   NaN
1  1d304ff5-6f22-40e7-83c4-a40cc6b40af2  ...   NaN
2  dd4d756c-d58e-48ab-9e0a-4198f5b63f65  ...   NaN
3  ab05d4a7-c9f2-41cd-94fd-37630b7b159e  ...   NaN
4  e4a37fbb-637e-407b-8589-98a6b8b8603d  ...   NaN

[5 rows x 4 columns]
                                subject relation                  object
0  ed0fbd02-ccff-4e13-8381-e44708494382    Topic                genomics
1  009368ed-d4d2-4b87-908d-42529c39dbf3    Topic            epidemiology
2  ddc3abdc-82ad-4c4b-b87c-07f54d8d5dc9    Topic  public-health-policies
3  d494d90a-b28d-4e93-a74a-fa35be21e5d3    Topic        lab-trials-human
4  91c0d427-82bd-433a-8859-7b3e2cfebf4c    Topic     healthcare-industry

In [ ]:
print(len(full_data))

full_data = full_data[full_data['object'].notna()]

print(len(full_data))

3168262
3168262

In [ ]:
#full_data.to_csv('full_dataset.csv', index=False)

!cp full_dataset.csv "drive/My Drive/Masters_Project"

In [ ]:
import pandas as pd
full_id = ''#insert google drive link

dd = drive.CreateFile({'id':full_id}) 
dd.GetContentFile('full_dataset.csv')
df_full = pd.read_csv('full_dataset.csv')

In [ ]:
print(len(df_full))
#del df_full['score']

3168262

In [ ]:
df_full.to_csv('noscore_dataset.csv', index=False)

!cp noscore_dataset.csv "drive/My Drive/Masters_Project"

In [ ]:
from google.colab import files
uploaded = files.upload()

Remove relations which have entities not used more than 5 times

In [ ]:
#connect to google drive to retrieve dataset
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
import pandas as pd
idd = '19czOH-00bA2E4epgfsdBkI9MJDFlE5j_'
csv = drive.CreateFile({'id':idd}) 
csv.GetContentFile('data.csv')
df = pd.read_csv('data.csv')

In [ ]:
print(len(df))
gg = pd.melt(df[['subject', 'object']])
print(len(gg))
print(gg.tail(10))
for col in gg.columns: 
    print(col)

3168262
6336524
        variable                        value
6336514   object  respiratory virus circulate
6336515   object                        cakvs
6336516   object                adjuvant drug
6336517   object     peripheral demyelination
6336518   object           nutrient depletion
6336519   object            amplicon analysis
6336520   object              astragali radix
6336521   object     immunity to re-infection
6336522   object                     hrv test
6336523   object               gbs meningitis
variable
value

In [ ]:
#gg.apply(pd.value_counts, axis =1)
gg['freq'] = gg.groupby('value')['value'].transform('count')

In [ ]:
print(gg.head())

  variable                                 value  freq
0  subject  1d798c5d-dedf-405f-9246-eed1cf38ed6e     4
1  subject  1d304ff5-6f22-40e7-83c4-a40cc6b40af2    11
2  subject  dd4d756c-d58e-48ab-9e0a-4198f5b63f65     3
3  subject  ab05d4a7-c9f2-41cd-94fd-37630b7b159e     3
4  subject  e4a37fbb-637e-407b-8589-98a6b8b8603d     3

In [ ]:
df['subject_count'] = gg['freq'][0:3168262]
df['object_count'] = gg['freq'][3168262:6336524].reset_index(drop = True) 
print(len(gg['freq'][0:3168261]))
print(gg.head())
print((len(gg))/2)
print(df)

3168261
  variable                                 value  freq
0  subject  1d798c5d-dedf-405f-9246-eed1cf38ed6e     4
1  subject  1d304ff5-6f22-40e7-83c4-a40cc6b40af2    11
2  subject  dd4d756c-d58e-48ab-9e0a-4198f5b63f65     3
3  subject  ab05d4a7-c9f2-41cd-94fd-37630b7b159e     3
4  subject  e4a37fbb-637e-407b-8589-98a6b8b8603d     3
3168262.0
                                      subject  ... object_count
0        1d798c5d-dedf-405f-9246-eed1cf38ed6e  ...          134
1        1d304ff5-6f22-40e7-83c4-a40cc6b40af2  ...           17
2        dd4d756c-d58e-48ab-9e0a-4198f5b63f65  ...           20
3        ab05d4a7-c9f2-41cd-94fd-37630b7b159e  ...           56
4        e4a37fbb-637e-407b-8589-98a6b8b8603d  ...           45
...                                       ...  ...          ...
3168257  509d8993-3712-4203-aba0-701a1f69a8f6  ...            1
3168258  7cba724f-23b8-44d1-9741-0a5e87bb9026  ...            1
3168259  6b0c9eca-4f16-40d7-8c7f-38695181d467  ...            1
3168260  cb29bcc6-2597-4976-ac54-01c14f5999f6  ...            1
3168261  bb2fc7d8-242f-4fb0-b6b5-719338a3d8e4  ...            1

[3168262 rows x 5 columns]

In [ ]:
df =df[(df.subject_count >= 10) & (df.object_count >= 10)]

In [ ]:
df.reset_index(drop = True)

                                      subject  ... object_count
0        1d304ff5-6f22-40e7-83c4-a40cc6b40af2  ...           17
1        2520933a-b976-4efd-89d6-46ed6a10e8f8  ...          714
2        b3987bbd-9c22-47ee-a5f7-cc94767dd976  ...         1207
3        8cd4d014-dea0-43e3-89d1-c5e0b7833ebb  ...          333
4        f77eb4d9-7e51-42f6-8036-34884772f6c1  ...           13
...                                       ...  ...          ...
2064271  6dc27084-dc1c-4786-9356-7564e55f15a1  ...           14
2064272  0c62f660-f24a-4439-9f5c-3c0747074020  ...           72
2064273  bda7bf99-fd4e-4e9d-97d4-438f7c124616  ...           12
2064274  ad3e9611-1d18-4198-9676-8d609fe9e155  ...           17
2064275  6f01b156-b744-4c4a-8f6d-a34c3aa563f2  ...          437

[2064276 rows x 5 columns]

In [ ]:
df = df[['subject','relation','object']]

In [ ]:
df = df.reset_index(drop = True)

In [ ]:
df

                                      subject  ...                                object
0        1d304ff5-6f22-40e7-83c4-a40cc6b40af2  ...  483b277e-323a-4ddc-bba7-ec3675b73d25
1        2520933a-b976-4efd-89d6-46ed6a10e8f8  ...  9e2b25d9-bbb0-4b9a-8b24-38a4324d16c9
2        b3987bbd-9c22-47ee-a5f7-cc94767dd976  ...  b4e97a3b-2abb-406c-8fa5-9b5372b0e163
3        8cd4d014-dea0-43e3-89d1-c5e0b7833ebb  ...  4bc595e9-0d42-487d-924a-3a516e79fcab
4        f77eb4d9-7e51-42f6-8036-34884772f6c1  ...  5e634942-a74a-41ad-bea7-03c91e604fb6
...                                       ...  ...                                   ...
2064271  6dc27084-dc1c-4786-9356-7564e55f15a1  ...              United States of America
2064272  0c62f660-f24a-4439-9f5c-3c0747074020  ...                        United Kingdom
2064273  bda7bf99-fd4e-4e9d-97d4-438f7c124616  ...                   Infectious Diseases
2064274  ad3e9611-1d18-4198-9676-8d609fe9e155  ...                             Pneumonia
2064275  6f01b156-b744-4c4a-8f6d-a34c3aa563f2  ...                                   USA

[2064276 rows x 3 columns]

In [ ]:
from google.colab import drive
drive.mount('drive')

In [ ]:
df.to_csv('dataset_frequent10.csv', index=False)

!cp dataset_frequent10.csv "drive/My Drive/Masters_Project"

In [ ]:
print(len(pd.unique(df[['subject', 'object']].values.ravel('K'))))
print(df.relation.unique())

77218
['affiliated_with' 'authored_by' 'associated_concept' 'similarity' 'cites'
 'associated_topic' 'Paper' 'Author' 'Institution' 'Concept']